@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	@apply min-h-svh font-darker text-grisClaro bg-black;
}

* {
	@apply !outline-none;
}

.bubblesAnimationNoise {
	@apply size-full bg-repeat bg-center opacity-30 absolute z-[1] top-0 left-0;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%), url(/src/assets/img/noise2.svg);
}
/* 
.swiper-slide {
	opacity: 0 !important;
}
.swiper-slide.swiper-slide-visible {
	opacity: 1 !important;
} */

.bg-texture-etapa2-luces {
	@apply bg-center bg-cover bg-no-repeat;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/src/assets/img/textura-luces.jpg);
}
.bg-texture-etapa2 {
	@apply bg-center bg-repeat-y;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/src/assets/img/textura.jpg);
}

.bg-gradient {
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.3617822128851541) 52%, rgba(0, 0, 0, 0) 100%);
}

.bg-black-noise {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%), url(/src/assets/img/noise2.svg);
}

.bg-texture {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%), url(/src/assets/img/noise2.jpeg);
}

.scroll-down2 {
	width: 30px;
	height: 50px;
	border: 2px solid white;
	border-radius: 50px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	transform: scale(0.5);
}
.scroll-down2:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 20px;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	transform: translateX(-50%);
	background: white;
	animation: scrollDown2 1.5s ease infinite;
}
.scroll-down2:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 5px;
	width: 6px;
	height: 15px;
	border-radius: 3px;
	transform: translateX(-50%);
	background: white;
}
@keyframes scrollDown2 {
	0% {
		transform: translate(-50%, 0px);
		opacity: 0;
	}
	50% {
		transform: translate(-50%, 8px);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 16px);
		opacity: 0;
	}
}
